.user-details__saved-room-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;
}

.user-details__saved-room-item > div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-details__saved-room-item img {
    --img-size: 56px;
    height: var(--img-size);
    width: var(--img-size);
    border-radius: 50%;
}

.saved-room-item__content {
    margin-left: 10px;
}

.saved-room-item__button {
    color: var(--primary);
}
