.new {
    .top,
    .bottom {
        padding: 25px;
        margin: 20px;
        display: flex;
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.5);

        .left {
            flex: 1;
            text-align: center;

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .right {
            flex: 2;

            form {
                // padding: 0 50px;
                // display: flex;
                // flex-wrap: wrap;
                // gap: 30px;
                // justify-content: space-between;

                button {
                    width: 150px;
                    padding: 10px;
                    border: none;
                    background-color: var(--primary);
                    font-weight: 700;
                    cursor: pointer;
                    margin-top: 10px;
                }
            }
        }
    }
}
