#room-details-page {
    margin-top: var(--search-height);
}

.room-details__location {
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    text-decoration: underline;
}

.room-details__location ~ div {
    .room-details__btn {
        font-size: 14px;
        text-transform: none;
        text-decoration: underline;
        color: var(--black);

        .room-details__btn--not-active {
            display: block;
        }

        .room-details__btn-active {
            display: none;
        }

        svg {
            font-size: 18px;
            margin-right: 6px;
        }
    }

    .room-details__btn.active {
        .room-details__btn--not-active {
            display: none;
        }

        .room-details__btn-active {
            display: block;
            color: var(--primary);
        }
    }
}

.room-details__img {
    height: 500px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 18px;
        object-fit: cover;
        object-position: center;
    }
}

.room-details__content {
    flex: 2;
    padding-right: 30px;
}

.room-details__desc {
    padding-top: 32px;
    padding-bottom: 48px;

    p {
        font-size: 16px;
    }

    .desc__show-btn {
        font-size: 16px;
        text-transform: none;
        text-decoration: underline;
        padding-left: 0;
        color: var(--black);

        svg {
            font-size: 14px;
            margin-left: 4px;
        }
    }
}

//Responsive for tablet
@media (min-width: 740px) and (max-width: 1023px) {
    .room-details__content {
        margin-right: 20px;
    }
}

//Responsive for mobile
@media (max-width: 739px) {
    #room-details-page {
        margin-top: 20px;
    }

    .page__main-title {
        font-size: 26px;
    }
    .room-details__img {
        height: 250px;
    }

    .room-details__desc {
        padding: 32px 0;
    }
}
