.room-details__amenities {
    padding: 48px 0;
}

.amenities__title {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 24px;
}

.amenities__item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    .amenities__icon {
        font-size: 30px;
        margin-right: 10px;
    }

    .amenities__name {
        font-size: 16px;
    }
}

button.amenities__show-btn {
    text-transform: none;
    font-size: 16px;
    padding: 10px 23px;
    margin-top: 10px;
    color: var(--black);
    border-color: var(--black);
    border-radius: 8px;
}
