@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
    --primary: #ff385c;
    --white: #fff;
    --black: #222222;
    --gray: #717171;
    --gray-hover: #f7f7f7;

    --gray-border: #dddddc;

    --header-height: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.43;
    text-rendering: optimizeSpeed;
}
