@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
    --primary: #ff385c;
    --primary-hover: #df1362;
    --white: #fff;
    --black: #222222;
    --gray: #717171;
    --light-gray: #dddddd;
    --gray-hover: #ff7f7;

    --gray-border: #dddddc;
    --gray-search-bar: #ebebeb;

    --header-height: 80px;
    --border-radius-search-bar: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.43;
    text-rendering: optimizeSpeed;
}
