#room-list-page {
    background: var(--white);
    margin: var(--margin-3) 0;
}

div.room-list__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--search-height);
    background: var(--white);

    &.top {
        position: fixed;
        top: 0;
        height: var(--room-list-header-height);
        left: 0;
        right: 0;
        z-index: 2;
    }
    .room-list__filter-button {
        color: var(--gray);
        border-color: var(--gray);

        &:hover {
            background-color: var(--light-gray);
            border-color: var(--gray);
        }
    }
}

.room-list__room-number {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--black);
}

.room-list__title {
    line-height: 1.5;
}

.room-list__content {
    position: relative;
    margin-top: var(--margin-3);
}

button.room-list_load-button {
    color: var(--gray);
    border-color: var(--gray);
    margin: 20px auto 0;

    &:hover {
        background-color: var(--light-gray);
        border-color: var(--gray);
    }
}

@media (max-width: 739px) {
    div.room-list__head {
        margin-top: 0;
    }
}
