#room-list-page {
    background: var(--white);
    margin: var(--margin-3) 0;
}

div.room-list__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 66px;
    background: var(--white);

    &.top {
        position: fixed;
        top: 0;
        height: var(--room-list-header-height);
        left: 0;
        right: 0;
        z-index: 2;
    }
    .room-list__filter-button {
        color: var(--gray);
        border-color: var(--gray);

        &:hover {
            background-color: var(--light-gray);
        }
    }
}

.room-list__room-number {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--black);
}

.room-list__title {
    line-height: 1.5;
}

.room-list__content {
    position: relative;
    margin-top: var(--margin-3);
}

a.room-list__room-card {
    color: var(--black);
    text-decoration: none;

    .room-card__img {
        position: relative;
        height: 250px;
        img {
            border-radius: var(--border-card);
            width: 100%;
            height: 100%;
        }
    }

    .room-card__favorite-btn {
        --side-gap: 10px;
        position: absolute;
        left: var(--side-gap);
        top: var(--side-gap);
    }
}

.room-card__content {
    h5 {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        margin: 6px 0;
    }
}

.room-card__body {
    line-height: 1.3;
    .room-card__body-item {
        font-size: 15px;
        font-weight: 300;
        color: var(--gray);
    }
}

.room-card__foot {
    font-size: 15px;
    .room-card__foot-currency,
    .room-card__foot-price {
        font-weight: 500;
        color: var(--black);
        margin-right: 4px;
    }
    .room-card__foot-time {
        color: var(--gray);
        font-weight: 300;
    }
}

@media (max-width: 739px) {
    div.room-list__head {
        margin-top: 0;
    }

    a.room-list__room-card {
        margin: 18px 0;
    }
}
