.admin {
    display: flex;

    .linear-loader-wrapper {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        color: var(--primary);
    }

    .admin-container {
        flex: 6;
    }

    .breadcrumbs-wrapper {
        padding: 10px;
        margin: 20px 20px 10px 20px;
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.5);
    }

    &-footer {
        margin-top: 15px;

        &-link.MuiLink-root {
            font-size: 13px;
            color: var(--gray);
        }
    }
}
