.home-page__place-list {
    padding: 30px 0;
}

.home-page__main-title {
}

div.place-card__mobile-list {
    display: none;
}

@media (max-width: 740px) {
    .home-page__main-title {
        font-size: 20px;
        line-height: 1.8;
    }
}
